#project {
    width: 100%;
    height: 705px;
    margin: auto;
    background-color:rgb(38, 39, 40);


}

#my-projects {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    width: 100%;
    height: 91%;
}

#my-projects img {
    width: 90%;
    height: 40%;
    margin-left: 24px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px 2px #746b74cf;
}

#my-projects p {
    margin: 40px;
    font-size: 17px;
    font-weight: 300;
    color:white;
}

#my-projects a {
    margin-left: 45px;
    position: relative;
    bottom: -35px;
    text-decoration: none;
    border-radius: 6px;
    padding: 8px;
    background: #ee5329;
    color: white;
    box-shadow: 1px 1px 1px 1px black;
}

#my-projects a:hover {
    background-color: rgb(38, 39, 40);
    border: 3px solid#ee5329;
    color: #ee5329;
    box-shadow: none;
}